.pricing__background-wrapper::before {
  content: '';
  display: block;
  height: 440px;
  width: 100%;
  background: linear-gradient(
    180deg,
    var(--gradient-start-color) 0%,
    var(--gradient-main-color) 100%
  );
  position: absolute;
  z-index: 2;
}

.pricing__background-wrapper::after {
  content: '';
  display: block;
  height: 650px;
  width: 1700px;
  max-width: 100%;
  top: -120px;
  position: absolute;
  opacity: 0.3;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%) rotate(-19deg);
  border-radius: 300px;
  background: rgba(0, 0, 0, 0.05);
}

html[data-theme='dark'] .pricing__background-wrapper::after {
  background: rgba(0, 0, 0, 0.2);
}

.pricing__background-wrapper {
  position: relative;
  overflow: hidden;
  background: var(--gradient-main-color);
}

.pricing__container {
  z-index: 3;
  position: relative;
}

.pricing__page-title {
  text-align: center;
  padding-top: 103px;
  padding-bottom: 81px;
}

.pricing__options-wrapper {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: var(--ifm-spacing-horizontal);
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1200px) {
  .pricing__options-wrapper {
    grid-template-areas:
      'free business'
      'enterprise  .';
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .pricing__options-wrapper {
    grid-template-areas:
      'free'
      'business'
      'enterprise';
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.pricing__option--title {
  font-size: 24px;
  font-weight: normal;
  color: var(--ifm-color-primary);
}

.pricing__option--highlighted > div {
  box-shadow: 0px 0px 15px var(--ifm-color-primary) !important;
  padding-bottom: 16px !important;
}

html[data-theme='dark'] .pricing__option--highlighted > div {
  box-shadow: 0px 0px 15px var(--ifm-color-emphasis-800) !important;
}

.pricing__option > div {
  z-index: 2;
  background-color: var(--ifm-background-surface-color);
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.pricing__option {
  height: 550px;
  min-width: 270px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pricing__option--highlighted {
  height: 580px;
}

.pricing__billing-switch {
  background: transparent;
  border: 0;
  margin-bottom: 8px;
  cursor: pointer;
  text-decoration: underline;
  color: var(--home-text);
  font-size: 13px;
}

.pricing__option-price {
  font-size: 24px;
  padding-bottom: 0px;
  color: var(--ifm-color-primary);
  display: grid;
}

.pricing__option-price > span {
  font-size: 16px;
}

.pricing__option--secondary-price {
  font-size: 16px;
  color: var(--ifm-color-secondary);
}

.pricing__option-billing {
  font-size: 14px;
}

.pricing__opensource-link {
  display: block;
  box-sizing: content-box;
  font-size: 13px;
  height: 22px;
  color: var(--ifm-font-color-base);
  padding: 3px;
  margin: 4px -16px;
  text-align: center;
  position: relative;
  top: -10px;
  background: var(--ifm-color-emphasis-200);
}

.pricing__option-button {
  align-self: flex-end;
  justify-self: flex-end;
  width: 100%;
  padding: 8px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid var(--ifm-color-primary);
  text-align: center;
  cursor: pointer;
  color: var(--ifm-color-primary);
  z-index: 5;
  transition: filter 0.2s ease-in-out;
  margin-top: 8px;
}

html[data-theme='dark'] .pricing__option-button,
html[data-theme='dark'] .pricing__option-button:hover {
  background: var(--ifm-color-primary);
  color: #000000;
}

.pricing__option-button:hover {
  text-decoration: none;
  filter: brightness(90%);
}

.pricing__option-button--contained,
.pricing__option-button--contained:hover {
  background: var(--ifm-color-primary-dark) !important;
  border-color: var(--ifm-color-primary-dark) !important;
  color: var(--cc-btn-primary-text) !important;
}

.pricing__option-button--grey,
.pricing__option-button--grey:hover {
  background: #e6e6e6 !important;
  color: #000000 !important;
  border-color: #e6e6e6 !important;
}

/** Robo mice **/

.pricing__bottom-center-robomouse {
  display: flex;
  justify-content: center;
  position: relative;
  height: 150px;
  z-index: 3;
}

.pricing__bottom-center-robomouse > svg {
  position: absolute;
  top: 50px;
  width: 281px !important;
  pointer-events: none;
}

.pricing__top-right-robomouse {
  position: relative;
}

.pricing__top-right-robomouse > svg {
  z-index: 4;
  position: absolute;
  right: 50px;
  top: -20px;
  width: 100px !important;
  transform: scaleX(-1);
}

.pricing__bottom-right-robomouse {
  position: relative;
}

.pricing__bottom-right-robomouse > svg {
  z-index: 1;
  position: absolute;
  right: -50px;
  top: 310px;
  width: 100px !important;
}

.pricing__description {
  padding: 40px var(--ifm-spacing-horizontal);
}

.pricing__description p {
  font-size: 20px;
}

@media screen and (max-width: 1440px) {
  .pricing__bottom-right-robomouse {
    display: none;
  }
}

.pricing__option-value {
  color: var(--ifm-color-primary);
}

.pricing__option-highlights {
  padding-left: 18px;
}

.pricing__option-spacer {
  flex-grow: 1;
}

.pricing__option-highlights--no-list-style {
  list-style: none;
  padding-left: 0;
}

.pricing__option-highlights .li {
  padding: 0;
}

.pricing__tooltip {
  white-space: nowrap;
  margin: -5px;
  font-size: 14px;
}

.pricing__with-hint {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-underline-position: under;
  text-decoration-thickness: from-font;
}

/* Pricing toggle */

.pricing__toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.pricing__toggle a {
  text-decoration: none;
  color: inherit;
}

.pricing__toggle-button {
  margin: 0px;
  padding: 8px;
  background: transparent;
  border: 1px solid var(--ifm-color-emphasis-700);
  color: var(--ifm-color-emphasis-700);
  text-align: center;
  cursor: pointer;
  z-index: 5;
  font-size: 15px;
  min-width: 130px;
  border-radius: 10px;
  border-width: 1px 0px 1px 0px;
  transition: filter 0.2s ease-in-out;
}

.pricing__toggle-button:hover {
  filter: brightness(90%);
}

.pricing__toggle-button--selected {
  border-color: var(--ifm-color-primary-dark);
  background: var(--ifm-color-primary-dark);
  color: var(--ifm-color-emphasis-0) !important;
}

.pricing__toggle-button:first-of-type {
  border-radius: 10px 0px 0px 10px;
  border-left-width: 1px;
}
.pricing__toggle-button:last-of-type {
  border-radius: 0px 10px 10px 0px;
  border-right-width: 1px;
}

/**
 * Pricing features
 */

.pricing__features-section {
  padding: 3px 16px;
  margin: 0px -16px 16px -16px;
  border: 0px;
  font-size: 15px;
}

.pricing__features-title {
  color: var(--ifm-color-emphasis-1000);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.pricing__features-list {
  list-style: none;
  padding-left: 0px;
}

.pricing__features-option--checkmark {
  margin-inline-end: 7px;
  position: relative;
  top: 1px;
}
