.pricing__container {
  z-index: 3;
  position: relative;
}

.pricing__options-wrapper {
  display: grid;
  justify-content: center;
  gap: 14px;
  padding: var(--ifm-spacing-horizontal);
  width: min(1200px, 100vw);
  grid-template-columns: repeat(auto-fit, minmax(260px, 310px));
}

.pricing__option {
  background-color: var(--ifm-background-color);
  padding: 23px 17px 21px 17px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-radius: 24px;
  border: 1px solid var(--ifm-color-emphasis-200);
  margin: 10px 0px;
}

.pricing__option--top {
  display: grid;
  justify-content: center;
}

.pricing__option--bottom {
  margin-top: 20px;
  display: grid;
}

.pricing__option--secondary-prices-wrapper {
  margin-top: 10px;
  display: grid;
  padding: 0px 17px;
}

.pricing__option--price-wrapper {
  margin-top: 10px;
  display: grid;
}

.pricing__option--content {
  display: grid;
  align-content: space-between;
  border-radius: 20px;
  background-color: var(--ifm-background-surface-color);
  padding: 20px 19px;
  min-height: 330px;
}

.pricing__option--title {
  font-size: 24px;
  font-weight: normal;
  color: var(--ifm-color-primary);
  text-align: center;
  margin-bottom: 10px;
}

.pricing__option--description {
  text-align: center;
  align-self: center;
  font-size: 16px;
  max-width: 200px;
  line-height: normal;
  margin-bottom: 21px;
  height: 38px;
}

.pricing__option-price {
  display: grid;
  text-align: center;
  font-size: 24px;
  color: var(--ifm-color-primary);
}

.pricing__option-price > span {
  font-size: 16px;
}

.pricing__option-billing {
  font-size: 14px;
}

.pricing__billing-switch {
  background: transparent;
  border: 0;
  margin-bottom: 8px;
  cursor: pointer;
  text-decoration: underline;
  color: var(--home-text);
  font-size: 13px;
}

.pricing__opensource--container {
  display: flex;
  justify-content: center;
}

.pricing__opensource--link {
  font-size: 13px;
  color: var(--ifm-font-color-base);
  padding: 3px 30px 2px 30px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--ifm-background-color);
  margin-bottom: var(--ifm-list-margin);
  border: 1px solid var(--ifm-color-emphasis-200);
}

.pricing__option-button {
  align-self: flex-end;
  justify-self: flex-end;
  width: 100%;
  padding: 8px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid var(--ifm-color-primary);
  text-align: center;
  cursor: pointer;
  color: var(--ifm-color-primary);
  z-index: 5;
  transition: filter 0.2s ease-in-out;
}

html[data-theme='dark'] .pricing__option-button,
html[data-theme='dark'] .pricing__option-button:hover {
  background: var(--ifm-color-primary);
  color: #000000;
}

.pricing__option-button:hover {
  text-decoration: none;
  filter: brightness(90%);
}

.pricing__option-button--contained,
.pricing__option-button--contained:hover {
  background: var(--ifm-color-primary-dark) !important;
  border-color: var(--ifm-color-primary-dark) !important;
  color: var(--ifm-color-emphasis-0) !important;
}

.pricing__option-button--grey,
.pricing__option-button--grey:hover {
  background: #e6e6e6 !important;
  color: #000000 !important;
  border-color: #e6e6e6 !important;
}

.pricing__option-value {
  color: var(--ifm-color-primary);
}

.pricing__option-highlights {
  display: grid;
}

.pricing__option-highlights--vertical {
  grid-auto-flow: column;
}

@media (max-width: 989px) {
  .pricing__option-highlights--vertical {
    grid-auto-flow: row;
  }
}

.pricing__with-hint {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-underline-position: under;
  text-decoration-thickness: from-font;
  color: var(--home-text);
}

.pricing__underlined {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: under;
  text-decoration-thickness: from-font;
  color: var(--home-text);
}

/* Pricing option vertical */

.pricing__option-vertical {
  display: grid;
  grid-column: 1 / -1;
  margin: 10px 0px;
}

.pricing__option-vertical--container {
  background-color: var(--ifm-background-color);
  padding: 23px 17px 21px 17px;
  display: grid;
  grid-template-columns: 1fr 250px;
  border-radius: 24px;
  border: 1px solid var(--ifm-color-emphasis-200);
  gap: 30px 40px;
}

@media (max-width: 665px) {
  .pricing__option-vertical--container {
    grid-template-columns: 1fr;
  }
}

.pricing__option-vertical--left {
  display: grid;
}

.pricing__option-vertical--title {
  font-size: 24px;
  font-weight: normal;
  color: var(--ifm-color-primary);
  margin-bottom: 10px;
}

@media (max-width: 665px) {
  .pricing__option-vertical--title {
    text-align: center;
  }
}

.pricing__option-vertical--description {
  font-size: 16px;
  max-width: 520px;
  line-height: normal;
  margin-bottom: 21px;
}

@media (max-width: 665px) {
  .pricing__option-vertical--description {
    text-align: center;
  }
}

.pricing__option-vertical--right {
  align-content: center;
  display: grid;
}

.pricing__option-vertical--price-note {
  text-align: center;
  font-size: 14px;
  margin-top: 3px;
}

/* Pricing toggle */

.pricing__toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  scroll-margin-top: 120px;
}

.pricing__toggle a {
  text-decoration: none;
  color: inherit;
}

.pricing__toggle-button {
  margin: 0px;
  padding: 8px;
  background: transparent;
  border: 1px solid var(--ifm-color-emphasis-700);
  color: var(--ifm-color-emphasis-700);
  text-align: center;
  cursor: pointer;
  z-index: 5;
  font-size: 15px;
  min-width: 130px;
  border-radius: 10px;
  border-width: 1px 0px 1px 0px;
  transition: filter 0.2s ease-in-out;
}

.pricing__toggle-button:hover {
  filter: brightness(90%);
}

.pricing__toggle-button--selected {
  border-color: var(--ifm-color-primary-dark);
  background: var(--ifm-color-primary-dark);
  color: var(--ifm-color-emphasis-0) !important;
}

.pricing__toggle-button:first-of-type {
  border-radius: 10px 0px 0px 10px;
  border-left-width: 1px;
}
.pricing__toggle-button:last-of-type {
  border-radius: 0px 10px 10px 0px;
  border-right-width: 1px;
}

/**
 * Pricing features
 */

.pricing__features-list {
  list-style: none;
  padding-left: 0px;
}

.pricing__features-list--shortcut {
  margin-bottom: 12px;
}

.pricing__features-option--checkmark {
  margin-inline-end: 7px;
  position: relative;
  top: 1px;
}

/**
 * Pricing details
 */

.pricing-details__table {
  display: grid;
  margin: 20px 50px;
  grid-template-columns: 1fr;
  gap: 8px 40px;
}

@media (max-width: 500px) {
  .pricing-details__table {
    margin: 20px 20px;
  }
}

.pricing-details__separator {
  grid-column: 1 / -1;
  border-top: 1px solid var(--ifm-color-emphasis-200);
  margin: 10px 0px;
}

.pricing-details__table .pricing-details__separator:last-of-type {
  display: none;
}
.pricing-details__name {
  font-weight: bold;
}

.pricing-details__scroll-target {
  scroll-margin-top: 60px;
}

.pricing__option-secondary-price--container {
  display: flex;
  justify-content: space-between;
}

/**
 * Features table
 */

.pricing__features-wrapper {
  display: grid;
  box-sizing: border-box;
  padding: 0px 16px;
  position: relative;
  overflow-x: auto;
  width: 100vw;
  margin: 10px 0px;
}

.pricing__features-wrapper--scroll {
  width: min(960px, 100%);
  position: relative;
  margin: 10px auto;
}

.pricing__features-content {
  display: grid;
  margin-bottom: 20px;
  background-color: var(--ifm-background-surface-color);
  border-radius: 20px;
  padding: 30px 0px;
}

.pricing__features-main-title {
  padding: 0px 0px 0px 20px;
}

.pricing__features-table-grid {
  display: grid;
  padding: 0px 5px 0px 10px;
  width: 100%;
  min-width: 600px;
}

.pricing__features-table-grid--plan {
  text-align: center;
  color: var(--ifm-color-primary);
  font-weight: bolder;
}

.pricing__features-table-row {
  display: contents;
}

.pricing__features-table-row:hover
  > :not(.pricing__features-table-grid--separator) {
  background: rgba(125, 125, 125, 0.05);
  transition: background 0.1s ease-in;
}

.pricing__features-table-grid--plan
  + .pricing__features-table-grid--item-title {
  padding-top: 0px;
}

.pricing__features-table-grid--item-title {
  grid-column: 1;
  font-weight: bold;
  padding: 12px 0px 4px 10px;
}

.pricing__features-table-grid--item-label {
  padding: 4px 0px 4px 10px;
  align-self: center;
}

.pricing__features-table-grid--item-mark {
  text-align: center;
  align-self: stretch;
  display: grid;
  align-items: center;
}

.pricing__features-table-grid--item-first {
  grid-column: 1;
}

.pricing__features-table-grid--separator {
  background: var(--ifm-color-emphasis-200);
}

.pricing__features-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 40px 20px;
}

.pricing__features-toggle--button {
  font-size: 16px;
  text-decoration-line: underline;
  color: var(--ifm-color-primary);
  cursor: pointer;
}
