.screen-wrapper--container {
  box-shadow: 0 8px 20px 4px rgba(0, 0, 0, 0.36);
  margin-bottom: 30px;
  border-radius: 7px;
  display: inline-grid;
  overflow: hidden;
}
.screen-wrapper--container img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.screen-wrapper--header {
  background: #f8f9f9;
  opacity: 0.9;
  padding: 2px 0px 0px 12px;
  border-radius: 7px 7px 0px 0px;
  border-bottom: 1px solid #dadddd;
}

html[data-theme='dark'] .screen-wrapper--header {
  background: #34414b;
  border-bottom: 1px solid #2c2c2c;
}

html[data-theme='dark'] .screen-wrapper--header .screen-wrapper--dot {
  background: #576d79;
}

.screen-wrapper--dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #d2d6d6;
  border-radius: 50%;
  margin: 0 6px 0 0;
}
