.ScrollDownArrow--image {
  opacity: 0;
  animation: 1s ScrollDownArrow--appear 1s forwards;
  transform: scaleX(-1);
  width: 64px;
  display: none !important;
}

@media (min-width: 600px) {
  .ScrollDownArrow--image {
    display: block !important;
  }
}

@keyframes ScrollDownArrow--appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
