.roadmap__title {
    text-align: center;
    padding-top: 103px;
    margin-bottom: 83px;
}

.roadmap__container {
    max-width: 800px !important;
    margin-bottom: 100px;
}

.roadmap-period__section {
    margin: 0;
    padding: 0 20px 0 0;
}

.roadmap-period__section h2 {
    margin-top: 50px;
    padding: 0;
}

.roadmap-item p {
    text-align: justify;
}

.roadmap__items-wrapper {
    border-left: 1px solid #C4C4C4;
    padding-left: 28px;
}

h2.roadmap-period__passed-divider {
    position: relative;
    margin-top: 80px;
}


.roadmap-period__passed-divider::before {
    content: '';
    display: block;
    height: 150px;
    width: 3px;
    position: absolute;
    background: var(--ifm-background-color);
    left: -30px;
    top: -70px;
}

.roadmap-period__title {
    position: relative;
    color: var(--ifm-color-primary);
}

.roadmap-period__title::before {
    content: '';
    background-color: var(--ifm-color-primary);
    display: block;
    position: absolute;
    left: -31px;
    top: -5px;
    width: 5px;
    height: 40px;
    border-radius: 5px;
}

.roadmap-item--done h3::after {
    content: ' ✅';
    opacity: 0.3;
}

