.github__thanks, .discord_ask {
    font-size: 24px;
    text-align: center;
}


.github__buttons, .discord_button {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.github__buttons > span {
    display: flex;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
    gap: 20px;
}

.discord_button img {
    border-radius: 4px;
}

.discord_ask{
    margin-top: 40px;
}

@media screen and (min-width: 1440px) {
    .github__thanks, .discord_ask {
        font-size: 24px;
        text-align: left;
    }

    .github__buttons {
        align-items: flex-start;
        justify-content: left;
    }

    .discord_button{
        justify-content: left;
    }

    .social {
        max-width: 340px;
        margin-top: 0;
    }
}
