.github__thanks {
    text-align: center;
    font-size: 28px;
}

.github__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px;
    align-items: center;
}

.github__buttons > span {
    display: flex;
}

.github {
    margin: 200px 0;
}
