.github-btn {
  @apply flex 
    items-center
    border
    border-solid
    border-emphasis-400
    rounded-[20px]
    text-sm
    gap-[6px]
    px-3
    py-[7px]
    text-home-text;
}

.github-btn--container {
  @apply flex
    items-center
    text-home-text
    hover:text-emphasis-1000;
}

.github-btn--count {
  @apply text-[18px]
    text-home-text
    hover:text-emphasis-1000
    hover:no-underline;
}

.github-btn--logo {
  width: 20px !important;
  height: 20px;
}
