{"openapi":"3.1.0","info":{"title":"Tolgee API","description":"Tolgee Platform REST API reference","version":"v1.0"},"externalDocs":{"description":"Tolgee documentation","url":"https://tolgee.io"},"servers":[{"url":"https://app.tolgee.io","description":"Generated server url"}],"tags":[{"name":"Localization keys","description":"Manipulates localization keys, their translations and metadata","x-order":3},{"name":"Translation labels","description":"Operations related to translation labels","x-order":8},{"name":"Slack slack commands","description":"Processes Slack slash commands, enabling users to execute specific actions within Slack"},{"name":"Content Delivery","description":"Endpoints for Content Delivery management"},{"name":"Notifications","description":"Manipulates notification settings"},{"name":"Notifications","description":"Manipulates notifications"},{"name":"Namespaces","description":"Manipulates key namespaces","x-order":7},{"name":"Server Administration","description":"**Only for self-hosted instances** \n\nManagees global Tolgee Platform instance data e.g., user accounts and organizations."},{"name":"Server Administration","description":"**Only for self-hosted instances** \n\nManagement of project-level batch job locks and queue inspection for debugging and maintenance."},{"name":"Translations","description":"Operations related to translations in project","x-order":4},{"name":"Sso Tenant","description":"SSO Tenant configuration authentication"},{"name":"Big Meta","description":"Handles big meta (context) for translation keys. Tolgee automatically stores contextual data about keys to provide this information to Tolgee AI translator."},{"name":"Import Settings","description":"These endpoints enable you to store default settings for import. These settings are only used in the UI of Tolgee platform. It's also the default for stateful importing via `/v2/projects/{projectId}/import/*` API endpoints. The settings are stored per user and per project."},{"name":"Languages","description":"Languages","x-order":2},{"name":"Professional translation","description":"Endpoints related to ordering professional translation"},{"name":"Import","description":"These endpoints handle multi-step data import","x-order":5},{"name":"Tasks","description":"Manipulates tasks"},{"name":"API keys","description":"Manage Project API keys"},{"name":"All localization keys","description":"All localization keys in the project"},{"name":"Slack events","description":"Listens for Slack events, such as button clicks, and processes them"},{"name":"User","description":"Manipulates currently authenticated user"},{"name":"Invitations","description":"These endpoints manage inviting new users to projects or organizations"},{"name":"Project Transferring","description":"These endpoints manage transferring projects to other organizations"},{"name":"Tags","description":"Manipulates key tags","x-order":6},{"name":"Slack user login","description":"Connects Slack account with user account in Tolgee"},{"name":"Scope Info","description":"Returns info about permission scopes"},{"name":"Translation Comments","description":"Operations related to translation comments"},{"name":"Projects","x-order":1},{"name":"Export","x-order":4},{"name":"Ai prompt controller","x-order":6},{"name":"Llm providers","x-order":6},{"name":"Ai Playground result controller","x-order":6}],"paths":{"/api/project/{projectId}/export/jsonZip":{"get":{"tags":["Export"],"summary":"Export to ZIP of jsons","description":"Exports data as ZIP of jsons","operationId":"doExportJsonZip","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/zip":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"deprecated":true,"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-access-mode":"readOnly"}},"/api/public/authorize_oauth/sso/authentication-url":{"post":{"tags":["Authentication"],"summary":"Generate authentication url (third-party, SSO)","description":"Returns URL which can be used to authenticate user using third party SSO service","operationId":"getAuthenticationUrl","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SsoUrlResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"x-access-mode":"readWrite"}},"/api/public/authorize_oauth/{serviceType}":{"get":{"tags":["Authentication"],"summary":"Authenticate user (third-part, oAuth)","description":"Authenticates user using third party oAuth service","operationId":"authenticateUser_1","parameters":[{"name":"serviceType","in":"path","required":true,"schema":{"type":"string"}},{"name":"code","in":"query","required":false,"schema":{"type":"string"}},{"name":"redirect_uri","in":"query","required":false,"schema":{"type":"string"}},{"name":"invitationCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"domain","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtAuthenticationResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"x-access-mode":"readOnly"}},"/api/public/configuration":{"get":{"tags":["Public configuration controller"],"summary":"Get server configuration","operationId":"getPublicConfiguration","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicConfigurationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"x-access-mode":"readOnly"}},"/api/public/generatetoken":{"post":{"tags":["Authentication"],"summary":"Generate JWT token","operationId":"authenticateUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtAuthenticationResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"x-access-mode":"readWrite"}},"/api/public/invitation_info/{code}":{"get":{"tags":["Authentication"],"summary":"Info about invitation","operationId":"invitationInfo","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicInvitationModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"x-access-mode":"readOnly"}},"/v2/administration/batch-job-queue":{"get":{"tags":["Server Administration"],"summary":"Get current batch job queue","description":"Returns all chunk execution items currently in the batch job queue","operationId":"getBatchJobQueue","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelQueueItemModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-self-hosted":true,"x-access-mode":"readOnly"}},"/v2/administration/organizations":{"get":{"tags":["Server Administration"],"summary":"Get all server organizations","operationId":"getOrganizations","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","default":["name,ASC"],"items":{"type":"string"}}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagedModelOrganizationModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-self-hosted":true,"x-access-mode":"readOnly"}},"/v2/administration/organizations/{organizationId}/billing/assign-cloud-plan":{"put":{"tags":["Cloud Billing"],"summary":"Assign a plan","description":"Assigns a private free plan or trial plan to an organization.If the plan is not free, it will make it visible for the organization, so they can subscribe to it.","operationId":"assignCloudPlan","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignCloudPlanRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-cloud":true,"x-access-mode":"readWrite"}},"/v2/administration/organizations/{organizationId}/billing/assign-self-hosted-plan":{"put":{"tags":["Cloud Billing"],"summary":"Assign a plan","description":"Assigns a self-hosted plan to an organization. If plan is free, it's assigned as active plan.If the plan is not free, it will make it visible for the organization, so they can subscribe to it.","operationId":"assignSelfHostedPlan","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignSelfHostedPlanRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-cloud":true,"x-access-mode":"readWrite"}},"/v2/administration/organizations/{organizationId}/billing/unassign-cloud-plan/{planId}":{"put":{"tags":["Cloud Billing"],"summary":"Unassign a plan","description":"Make plan invisible for organization when not subscribed to. Or unassign the plan if is free or trial. If plan is registered in stripe, you will have to cancel it via stripe and then unassign it when required. ","operationId":"unassignCloudPlan","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-cloud":true,"x-access-mode":"readWrite"}},"/v2/administration/organizations/{organizationId}/billing/unassign-self-hosted-plan/{planId}":{"put":{"tags":["Cloud Billing"],"summary":"Unassign a self-hosted plan","description":"Unassigns a self-hosted plan from an organization - Removes the organization from the plan's visibility list.","operationId":"unassignSelfHostedPlan","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-cloud":true,"x-access-mode":"readWrite"}},"/v2/administration/organizations/{organizationId}/billing/update-trial-end-date":{"put":{"tags":["Cloud Billing"],"summary":"Changes a trial end date","operationId":"updateTrialEndDate","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTrialEndDateRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-cloud":true,"x-access-mode":"readWrite"}},"/v2/administration/project-batch-locks":{"get":{"tags":["Server Administration"],"summary":"Get all project batch locks","description":"Returns current project batch job locks from Redis or local storage based on configuration","operationId":"getProjectLocks","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelProjectLockModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-self-hosted":true,"x-access-mode":"readOnly"}},"/v2/administration/users":{"get":{"tags":["Server Administration"],"summary":"Get all server users","operationId":"getUsers","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","default":["name,ASC"],"items":{"type":"string"}}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagedModelUserAccountModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-self-hosted":true,"x-access-mode":"readOnly"}},"/v2/administration/users/{userId}":{"delete":{"tags":["Server Administration"],"summary":"Delete user","operationId":"deleteUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-self-hosted":true,"x-access-mode":"readWrite"}},"/v2/administration/users/{userId}/disable":{"put":{"tags":["Server Administration"],"summary":"Disable user","description":"Disables user account. User will not be able to log in, but their user data will be preserved, so you can enable the user later using the `enable` endpoint.","operationId":"disableUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-self-hosted":true,"x-access-mode":"readWrite"}},"/v2/administration/users/{userId}/enable":{"put":{"tags":["Server Administration"],"summary":"Enable user","description":"Enables previously disabled user.","operationId":"enableUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-self-hosted":true,"x-access-mode":"readWrite"}},"/v2/administration/users/{userId}/generate-token":{"get":{"tags":["Server Administration"],"summary":"Geneate user's JWT token","description":"Generates a JWT token for the user with provided ID. This is useful, when need to debug of the user's account. Or when an operation is required to be executed on behalf of the user.","operationId":"generateUserToken","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-self-hosted":true,"x-access-mode":"readOnly"}},"/v2/administration/users/{userId}/set-role/{role}":{"put":{"tags":["Server Administration"],"summary":"Set Role","description":"Set's the global role on the Tolgee Platform server.","operationId":"setRole","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"role","in":"path","required":true,"schema":{"type":"string","enum":["USER","ADMIN","SUPPORTER"]}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-self-hosted":true,"x-access-mode":"readWrite"}},"/v2/announcement":{"get":{"tags":["New features announcements"],"summary":"Get announcement","description":"Returns the latest announcement for the currently authenticated user","operationId":"getLatest","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnouncementDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-access-mode":"readOnly"}},"/v2/announcement/dismiss":{"post":{"tags":["New features announcements"],"summary":"Dismiss announcement","description":"Dismisses the latest announcement for the currently authenticated user","operationId":"dismiss","responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-access-mode":"readWrite"}},"/v2/api-keys":{"get":{"tags":["API keys"],"summary":"Get all user's API keys","operationId":"allByUser","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"filterProjectId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagedModelApiKeyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-order":4,"x-access-mode":"readOnly"},"post":{"tags":["API keys"],"summary":"Create API key","description":"Creates new API key with provided scopes","operationId":"create_15","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApiKeyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevealedApiKeyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-order":1,"x-access-mode":"readWrite"}},"/v2/api-keys/availableScopes":{"get":{"tags":["API keys"],"summary":"Returns API key scopes for every permission type","operationId":"getScopes","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string","example":{"TRANSLATE":["translations.view","translations.edit","screenshots.view"],"MANAGE":["translations.view","translations.edit","keys.edit","screenshots.view","screenshots.upload","screenshots.delete"],"EDIT":["translations.view","translations.edit","keys.edit","screenshots.view","screenshots.upload","screenshots.delete"],"VIEW":["translations.view","screenshots.view"]}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-access-mode":"readOnly"}},"/v2/api-keys/current":{"get":{"tags":["API keys"],"summary":"Get current API key info","description":"Returns info the API key which user currently authenticated with. Otherwise responds with 400 status code.","operationId":"getCurrent_1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyWithLanguagesModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":3,"x-access-mode":"readOnly"}},"/v2/api-keys/current-permissions":{"get":{"tags":["API keys"],"summary":"Get current permission info","description":"Returns current PAK or PAT permissions for current user, api-key and project","operationId":"getCurrentPermissions","parameters":[{"name":"projectId","in":"query","description":"Required when using with PAT","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyPermissionsModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-access-mode":"readOnly"}},"/v2/api-keys/{apiKeyId}":{"put":{"tags":["API keys"],"summary":"Update API key","operationId":"update_11","parameters":[{"name":"apiKeyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/V2EditApiKeyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-order":6,"x-access-mode":"readWrite"},"delete":{"tags":["API keys"],"summary":"Delete API key","operationId":"delete_10","parameters":[{"name":"apiKeyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-order":7,"x-access-mode":"readWrite"}},"/v2/api-keys/{apiKeyId}/regenerate":{"put":{"tags":["API keys"],"summary":"Regenerates API key. It generates new API key value and updates its time of expiration.","operationId":"regenerate_1","parameters":[{"name":"apiKeyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegenerateApiKeyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevealedApiKeyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-access-mode":"readWrite"}},"/v2/api-keys/{keyId}":{"get":{"tags":["API keys"],"summary":"Get one API key","description":"Returns specific API key info","operationId":"get_26","parameters":[{"name":"keyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-order":2,"x-access-mode":"readOnly"}},"/v2/ee-current-subscription-usage":{"get":{"tags":["EE Licence"],"summary":"Get current usage for the current EE subscription","operationId":"getUsage_2","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentUsageModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-ee":true,"x-access-mode":"readOnly"}},"/v2/ee-license/info":{"get":{"tags":["EE Licence"],"summary":"Get the info about the current EE subscription","operationId":"getInfo_5","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EeSubscriptionModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-ee":true,"x-access-mode":"readOnly"}},"/v2/ee-license/prepare-set-license-key":{"post":{"tags":["EE Licence"],"summary":"Get info before applying the license key","description":"Get info about the upcoming EE subscription. This will show, how much the subscription will cost when key is applied.","operationId":"prepareSetLicenseKey_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetLicenseKeyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrepareSetEeLicenceKeyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-ee":true,"x-access-mode":"readWrite"}},"/v2/ee-license/refresh":{"put":{"tags":["EE Licence"],"summary":"Refresh the EE subscription","description":"This will refresh the subscription information from the license server and update the subscription info.","operationId":"refreshSubscription","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EeSubscriptionModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-ee":true,"x-access-mode":"readWrite"}},"/v2/ee-license/release-license-key":{"put":{"tags":["EE Licence"],"summary":"Remove the EE licence key","description":"This will remove the licence key from the instance.","operationId":"release","responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-ee":true,"x-access-mode":"readWrite"}},"/v2/ee-license/set-license-key":{"put":{"tags":["EE Licence"],"summary":"Sets the EE licence key","operationId":"setLicenseKey","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetLicenseKeyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EeSubscriptionModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-ee":true,"x-access-mode":"readWrite"}},"/v2/image-upload":{"post":{"tags":["Image upload"],"summary":"Upload an image for later use","operationId":"upload","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"image":{"type":"string","format":"binary"},"info":{"$ref":"#/components/schemas/ImageUploadInfoDto"}},"required":["image"]},"encoding":{"info":{"contentType":"application/json"}}}}},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadedImageModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-access-mode":"readWrite"}},"/v2/image-upload/{ids}":{"delete":{"tags":["Image upload"],"summary":"Delete uploaded images","operationId":"delete_16","parameters":[{"name":"ids","in":"path","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"},"uniqueItems":true}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-access-mode":"readWrite"}},"/v2/invitations/{code}/accept":{"get":{"tags":["Invitations"],"summary":"Accepts invitation to project or organization (deprecated: use PUT method instead)","operationId":"acceptInvitation","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"deprecated":true,"security":[{"JwtToken":[]}],"x-access-mode":"readWrite"},"put":{"tags":["Invitations"],"summary":"Accepts invitation to project or organization","operationId":"acceptInvitationPut","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-access-mode":"readWrite"}},"/v2/invitations/{invitationId}":{"delete":{"tags":["Invitations"],"summary":"Deletes invitation by ID","operationId":"deleteInvitation","parameters":[{"name":"invitationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-access-mode":"readWrite"}},"/v2/notification":{"get":{"tags":["Notifications"],"summary":"Gets notifications of the currently logged in user, newest is first.","operationId":"getNotifications","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filterSeen","in":"query","description":"Filter by the `seen` parameter.\n\nno value = request everything\n\ntrue = only seen\n\nfalse = only unseen","required":false,"schema":{"type":"boolean"}},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagedModelWithNextCursorNotificationModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-access-mode":"readOnly"}},"/v2/notification-settings":{"get":{"tags":["Notifications"],"summary":"Get notification settings","description":"Returns notification settings of the currently logged in user","operationId":"getNotificationsSettings","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationSettingModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-access-mode":"readOnly"},"put":{"tags":["Notifications"],"summary":"Save notification setting","description":"Saves new value for given parameters","operationId":"putNotificationSetting","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationSettingsRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-access-mode":"readWrite"}},"/v2/notifications-mark-seen":{"put":{"tags":["Notifications"],"summary":"Marks notifications of the currently logged in user with given IDs as seen.","operationId":"markNotificationsAsSeen","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsMarkSeenRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-access-mode":"readWrite"}},"/v2/organizations":{"get":{"tags":["Organizations"],"summary":"Get all permitted organizations","description":"Returns all organizations, which is current user allowed to view","operationId":"getAll_10","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","default":["id,ASC"],"items":{"type":"string"}}},{"name":"filterCurrentUserOwner","in":"query","required":true,"schema":{"type":"boolean"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagedModelOrganizationModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":4,"x-access-mode":"readOnly"},"post":{"tags":["Organizations"],"summary":"Create organization","operationId":"create_12","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":1,"x-access-mode":"readWrite"}},"/v2/organizations/{id}":{"get":{"tags":["Organizations"],"summary":"Get one organization","operationId":"get_15","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":2,"x-access-mode":"readOnly"},"put":{"tags":["Organizations"],"summary":"Update organization data","operationId":"update_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-order":5,"x-access-mode":"readWrite"},"delete":{"tags":["Organizations"],"summary":"Delete organization","description":"Deletes organization and all its data including projects","operationId":"delete_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-order":6,"x-access-mode":"readWrite"}},"/v2/organizations/{id}/avatar":{"put":{"tags":["Organizations"],"summary":"Upload organizations avatar","operationId":"uploadAvatar_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"avatar":{"type":"string","format":"binary"}},"required":["avatar"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-access-mode":"readWrite"},"delete":{"tags":["Organizations"],"summary":"Delete organization avatar","operationId":"removeAvatar_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-access-mode":"readWrite"}},"/v2/organizations/{id}/invite":{"put":{"tags":["Invitations"],"summary":"Generate invitation link for organization","description":"Generates invitation link for organization, so users can join organization. The invitation can also be sent to an e-mail address.","operationId":"inviteUser_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationInviteUserDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationInvitationModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-access-mode":"readWrite"}},"/v2/organizations/{id}/leave":{"put":{"tags":["Organizations"],"summary":"Leave organization","description":"Remove current user from organization","operationId":"leaveOrganization","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-access-mode":"readWrite"}},"/v2/organizations/{id}/projects":{"get":{"tags":["Organizations"],"summary":"Get all accessible projects (by ID)","description":"Returns all organization projects the user has access to","operationId":"getAllProjects_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagedModelProjectModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-access-mode":"readOnly"}},"/v2/organizations/{id}/users":{"get":{"tags":["Organizations"],"summary":"Get all users in organization","description":"Returns all users in organization. The result also contains users who are only members of projects in the organization.","operationId":"getAllUsers_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","default":["name,ASC","username,ASC"],"items":{"type":"string"}}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagedModelUserAccountWithOrganizationRoleModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-access-mode":"readOnly"}},"/v2/organizations/{organizationId}/base-languages":{"get":{"tags":["Organizations"],"summary":"Get all base languages in use by projects owned by specified organization","description":"Returns all base languages in use by projects owned by specified organization","operationId":"getAllBaseLanguagesInUse","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"projectIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagedModelOrganizationLanguageModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string","example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-access-mode":"readOnly"}},"/v2/organizations/{organizationId}/billing/billing-info":{"get":{"tags":["Cloud Billing"],"summary":"Get stored billing info","operationId":"getBillingInfo","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingInfoModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"string","example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string","example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string","example":{"code":"operation_not_permitted","params":["tran
[...]
