{"openapi":"3.0.1","info":{"title":"Tolgee API","description":"Tolgee Platform REST API reference","version":"v1.0"},"externalDocs":{"description":"Tolgee documentation","url":"https://tolgee.io"},"servers":[{"url":"https://app.tolgee.io","description":"Generated server url"}],"tags":[{"name":"Localization keys","description":"Manipulates localization keys, their translations and metadata","x-order":3},{"name":"Big Meta","description":"Handles big meta (context) for translation keys. Tolgee automatically stores contextual data about keys to provide this information to Tolgee AI translator."},{"name":"Slack slack commands","description":"Processes Slack slash commands, enabling users to execute specific actions within Slack"},{"name":"Import Settings","description":"These endpoints enable you to store default settings for import. These settings are only used in the UI of Tolgee platform. It's also the default for stateful importing via `/v2/projects/{projectId}/import/*` API endpoints. The settings are stored per user and per project."},{"name":"Languages","description":"Languages","x-order":2},{"name":"Content Delivery","description":"Endpoints for Content Delivery management"},{"name":"Import","description":"These endpoints handle multi-step data import","x-order":5},{"name":"Order translation","description":"Order professional translation"},{"name":"Tasks","description":"Manipulates tasks"},{"name":"API keys","description":"Manage Project API keys"},{"name":"All localization keys","description":"All localization keys in the project"},{"name":"Slack events","description":"Listens for Slack events, such as button clicks, and processes them"},{"name":"User","description":"Manipulates currently authenticated user"},{"name":"Invitations","description":"These endpoints manage inviting new users to projects or organizations"},{"name":"Project Transferring","description":"These endpoints manage transferring projects to other organizations"},{"name":"Tags","description":"Manipulates key tags","x-order":6},{"name":"Namespaces","description":"Manipulates key namespaces","x-order":7},{"name":"Server Administration","description":"**Only for self-hosted instances** \n\nManagees global Tolgee Platform instance data e.g., user accounts and organizations."},{"name":"Slack user login","description":"Connects Slack account with user account in Tolgee"},{"name":"Translations","description":"Operations related to translations in project","x-order":4},{"name":"Scope Info","description":"Returns info about permission scopes"},{"name":"Translation Comments","description":"Operations related to translation comments"},{"name":"Projects","x-order":1},{"name":"Export","x-order":4}],"paths":{"/v2/user":{"get":{"tags":["User"],"summary":"Get user info","description":"Returns information about currently authenticated user.","operationId":"getInfo_2","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateUserAccountModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":1},"put":{"tags":["User"],"summary":"Update user","description":"Updates current user's profile information.","operationId":"updateUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateRequestDto"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateUserAccountModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-order":2},"delete":{"tags":["User"],"summary":"Delete user","operationId":"delete","responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-order":6}},"/v2/user/password":{"put":{"tags":["User"],"summary":"Update password","description":"Updates current user's password. Invalidates all previous sessions upon success.","operationId":"updateUserPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdatePasswordRequestDto"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtAuthenticationResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-order":3}},"/v2/user/mfa/totp":{"put":{"tags":["User Multi-Factor Authentication"],"summary":"Enable TOTP","description":"Enables TOTP-based two-factor authentication. Invalidates all previous sessions upon success.","operationId":"enableMfa","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTotpEnableRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtAuthenticationResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}]},"delete":{"tags":["User Multi-Factor Authentication"],"summary":"Disable TOTP","description":"Disables TOTP-based two-factor authentication. Invalidates all previous sessions upon success.","operationId":"disableMfa","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTotpDisableRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtAuthenticationResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}]}},"/v2/user/mfa/recovery":{"put":{"tags":["User Multi-Factor Authentication"],"summary":"Regenerate Codes","description":"Regenerates multi-factor authentication recovery codes","operationId":"regenerateRecoveryCodes","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserMfaRecoveryRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}]}},"/v2/user/avatar":{"put":{"tags":["User"],"summary":"Upload avatar","operationId":"uploadAvatar","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["avatar"],"type":"object","properties":{"avatar":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateUserAccountModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-order":4},"delete":{"tags":["User"],"summary":"Delete avatar","operationId":"removeAvatar","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateUserAccountModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}],"x-order":5}},"/v2/user-preferences/set-preferred-organization/{organizationId}":{"put":{"tags":["User preferences"],"summary":"Set user preferred organization","operationId":"setPreferredOrganization","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}]}},"/v2/user-preferences/set-language/{languageTag}":{"put":{"tags":["User preferences"],"summary":"Set user's UI language","operationId":"setLanguage","parameters":[{"name":"languageTag","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}]}},"/v2/quick-start/steps/{step}/complete":{"put":{"tags":["Quick start"],"summary":"Complete guide step","description":"Marks guide step as completed","operationId":"completeGuideStep","parameters":[{"name":"step","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickStartModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}]}},"/v2/quick-start/set-open/{open}":{"put":{"tags":["Quick start"],"summary":"Set open state","description":"Sets open state of the quick start guide","operationId":"setOpenState","parameters":[{"name":"open","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickStartModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}]}},"/v2/quick-start/set-finished/{finished}":{"put":{"tags":["Quick start"],"summary":"Set finished state","description":"Sets finished state of the quick start guide","operationId":"setFinishedState","parameters":[{"name":"finished","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickStartModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"JwtToken":[]}]}},"/v2/projects/{projectId}":{"get":{"tags":["Projects"],"summary":"Get one project","operationId":"get_4","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":2},"put":{"tags":["Projects"],"summary":"Update project settings","operationId":"editProject","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditProjectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"SuperJwtToken":[]}],"x-order":4},"delete":{"tags":["Projects"],"summary":"Delete project","operationId":"deleteProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"SuperJwtToken":[]}],"x-order":5}},"/v2/projects/{projectId}/webhook-configs/{id}":{"get":{"tags":["Webhooks configuration"],"summary":"Get one webhook configuration","operationId":"get_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookConfigModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-ee":true},"put":{"tags":["Webhooks configuration"],"summary":"Update webhook configuration","operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookConfigRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookConfigModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-ee":true},"delete":{"tags":["Webhooks configuration"],"summary":"Delete webhook configuration","operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-ee":true}},"/v2/projects/{projectId}/users/{userId}/set-permissions":{"put":{"tags":["Advanced permissions"],"summary":"Set user's project permission","description":"Set user's granular (scope-based) direct project permission","operationId":"setUsersPermissions","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"scopes","in":"query","description":"Granted scopes","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":["translations.view","translations.edit"]},{"name":"languages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"translateLanguages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"viewLanguages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"stateChangeLanguages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}],"x-ee":true}},"/v2/projects/{projectId}/users/{userId}/set-permissions/{permissionType}":{"put":{"tags":["Projects"],"summary":"Set direct permission to user","operationId":"setUsersPermissions_1","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"permissionType","in":"path","required":true,"schema":{"type":"string","enum":["NONE","VIEW","TRANSLATE","REVIEW","EDIT","MANAGE"]}},{"name":"languages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"translateLanguages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"viewLanguages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"stateChangeLanguages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}]}},"/v2/projects/{projectId}/users/{userId}/set-by-organization":{"put":{"tags":["Projects"],"summary":"Remove direct project permission","description":"Removes user's direct project permission, explicitly set for the project. User will have now base permissions from organization or no permission if they're not organization member.","operationId":"setOrganizationBase","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}]}},"/v2/projects/{projectId}/users/{userId}/revoke-access":{"put":{"tags":["Projects"],"summary":"Revoke project access","operationId":"revokePermission","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}]}},"/v2/projects/{projectId}/tasks/{taskNumber}/reopen":{"put":{"tags":["Tasks"],"summary":"Reopen task","operationId":"reopenTask","parameters":[{"name":"taskNumber","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":8}},"/v2/projects/{projectId}/tasks/{taskNumber}/keys/{keyId}":{"put":{"tags":["Tasks"],"summary":"Update task key","description":"Mark key as done, which updates task progress.","operationId":"updateTaskKey","parameters":[{"name":"taskNumber","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"keyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTaskKeyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTaskKeyResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/tasks/{taskNumber}/keys":{"get":{"tags":["Tasks"],"summary":"Get task keys","operationId":"getTaskKeys","parameters":[{"name":"taskNumber","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskKeysResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"put":{"tags":["Tasks"],"summary":"Add or remove task keys","operationId":"updateTaskKeys","parameters":[{"name":"taskNumber","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTaskKeysRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/tasks/{taskNumber}/finish":{"put":{"tags":["Tasks"],"summary":"Finish task","operationId":"finishTask","parameters":[{"name":"taskNumber","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":6}},"/v2/projects/{projectId}/tasks/{taskNumber}/close":{"put":{"tags":["Tasks"],"summary":"Close task","operationId":"closeTask","parameters":[{"name":"taskNumber","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":7}},"/v2/projects/{projectId}/tasks/{taskNumber}":{"get":{"tags":["Tasks"],"summary":"Get task","operationId":"getTask","parameters":[{"name":"taskNumber","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":3},"put":{"tags":["Tasks"],"summary":"Update task","operationId":"updateTask","parameters":[{"name":"taskNumber","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTaskRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":5}},"/v2/projects/{projectId}/per-language-auto-translation-settings":{"get":{"tags":["Auto-translation Settings"],"summary":"Get per-language auto-translation settings","operationId":"getPerLanguageAutoTranslationSettings","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelAutoTranslationConfigModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"put":{"tags":["Auto-translation Settings"],"summary":"Set per-language auto-translation settings","operationId":"setPerLanguageAutoTranslationSettings","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AutoTranslationSettingsDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelAutoTranslationConfigModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/namespaces/{id}":{"put":{"tags":["Namespaces"],"summary":"Update namespace","operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateNamespaceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NamespaceModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":4}},"/v2/projects/{projectId}/machine-translation-service-settings":{"get":{"tags":["Machine Translation Settings"],"summary":"Get machine translation settings","operationId":"getMachineTranslationSettings","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelLanguageConfigItemModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"put":{"tags":["Machine Translation Settings"],"summary":"Sets machine translation settings","operationId":"setMachineTranslationSettings","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetMachineTranslationSettingsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelLanguageConfigItemModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/keys/{id}/disabled-languages":{"get":{"tags":["Localization keys"],"summary":"Get disabled languages","description":"Returns languages, in which key is disabled","operationId":"getDisabledLanguages","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelLanguageModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"put":{"tags":["Localization keys"],"summary":"Set disabled languages","description":"Sets languages, in which key is disabled","operationId":"setDisabledLanguages","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetDisabledLanguagesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelLanguageModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/keys/{id}/complex-update":{"put":{"tags":["Localization keys"],"summary":"Edit key and related data","description":"Edits key name, translations, tags, screenshots, and other data","operationId":"complexEdit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplexEditKeyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyWithDataModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/keys/{id}":{"get":{"tags":["Localization keys"],"summary":"Get one key","operationId":"get_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":2},"put":{"tags":["Localization keys"],"summary":"Edit key name","operationId":"edit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditKeyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":4}},"/v2/projects/{projectId}/invite":{"put":{"tags":["Invitations"],"summary":"Generate user invitation link for project","operationId":"inviteUser","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectInviteUserDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectInvitationModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"SuperJwtToken":[]}]}},"/v2/projects/{projectId}/content-storages/{contentStorageId}":{"get":{"tags":["Content Storages"],"summary":"Get Content Storage","operationId":"get_8","parameters":[{"name":"contentStorageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentStorageModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-ee":true},"put":{"tags":["Content Storages"],"summary":"Update Content Storage","operationId":"update_3","parameters":[{"name":"contentStorageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentStorageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentStorageModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-ee":true},"delete":{"tags":["Content Storages"],"summary":"Delete Content Storage","operationId":"delete_6","parameters":[{"name":"contentStorageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-ee":true}},"/v2/projects/{projectId}/content-delivery-configs/{id}":{"get":{"tags":["Content Delivery"],"summary":"Get one Content Delivery Config","operationId":"get_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentDeliveryConfigModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"put":{"tags":["Content Delivery"],"summary":"Update Content Delivery Config","operationId":"update_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentDeliveryConfigRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentDeliveryConfigModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"post":{"tags":["Content Delivery"],"summary":"Publish to Content Delivery","description":"Immediately publishes content to the configured Content Delivery","operationId":"post","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"delete":{"tags":["Content Delivery"],"summary":"Delete Content Delivery Config","operationId":"delete_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/tag-complex":{"put":{"tags":["Tags"],"summary":"Execute complex tag operation","operationId":"executeComplexTagOperation","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplexTagKeysRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/keys/{keyId}/tags":{"put":{"tags":["Tags"],"summary":"Tag key","description":"Tags a key with tag. If tag with provided name doesn't exist, it is created","operationId":"tagKey","parameters":[{"name":"keyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagKeyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/result/languages/{languageId}/translations/{translationId}/resolve/set-override":{"put":{"tags":["Import"],"summary":"Resolve conflict (override)","description":"Resolves translation conflict. The old translation will be overridden.","operationId":"resolveTranslationSetOverride","parameters":[{"name":"languageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"translationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/result/languages/{languageId}/translations/{translationId}/resolve/set-keep-existing":{"put":{"tags":["Import"],"summary":"Resolve conflict (keep existing)","description":"Resolves translation conflict. The old translation will be kept.","operationId":"resolveTranslationSetKeepExisting","parameters":[{"name":"languageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"translationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/result/languages/{languageId}/resolve-all/set-override":{"put":{"tags":["Import"],"summary":"Resolve all translation conflicts (override)","description":"Resolves all translation conflicts for provided language. The old translations will be overridden.","operationId":"resolveTranslationSetOverride_2","parameters":[{"name":"languageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/result/languages/{languageId}/resolve-all/set-keep-existing":{"put":{"tags":["Import"],"summary":"Resolve all translation conflicts (keep existing)","description":"Resolves all translation conflicts for provided language. The old translations will be kept.","operationId":"resolveTranslationSetKeepExisting_2","parameters":[{"name":"languageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/result/languages/{importLanguageId}/select-existing/{existingLanguageId}":{"put":{"tags":["Import"],"summary":"Pair existing language","description":"Sets existing language to pair with language to import. Data will be imported to selected existing language when applied.","operationId":"selectExistingLanguage","parameters":[{"name":"importLanguageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"existingLanguageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/result/languages/{importLanguageId}/reset-existing":{"put":{"tags":["Import"],"summary":"Reset existing language pairing","description":"Resets existing language paired with language to import.","operationId":"resetExistingLanguage","parameters":[{"name":"importLanguageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/result/files/{fileId}/select-namespace":{"put":{"tags":["Import"],"summary":"Select namespace","description":"Sets namespace for file to import.","operationId":"selectNamespace","parameters":[{"name":"fileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetFileNamespaceRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/apply":{"put":{"tags":["Import"],"summary":"Apply import","description":"Imports the data prepared in previous step","operationId":"applyImport","parameters":[{"name":"forceMode","in":"query","description":"Whether override or keep all translations with unresolved conflicts","required":false,"schema":{"type":"string","enum":["OVERRIDE","KEEP","NO_FORCE"],"default":"NO_FORCE"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":2}},"/v2/projects/{projectId}/import-settings":{"get":{"tags":["Import Settings"],"summary":"Get Import Settings","description":"Returns import settings for the authenticated user and the project.","operationId":"get_10","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportSettingsModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":{"code":"you_did_something_wrong","params":["something","wrong"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"example":{"code":"unauthenticated"},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":{"code":"operation_not_permitted","params":["translations.edit"]},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":{"code":"resource_not_found","params":null},"oneOf":[{"$ref":"#/components/schemas/ErrorResponseTyped"},{"$ref":"#/components/schemas/ErrorResponseBody"}]}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"put":{"tags":["Impor
[...]
