{"openapi":"3.0.1","info":{"title":"Tolgee API","description":"Tolgee Platform REST API reference","version":"v1.0"},"externalDocs":{"description":"Tolgee documentation","url":"https://tolgee.io"},"servers":[{"url":"https://app.tolgee.io","description":"Generated server url"}],"tags":[{"name":"Localization keys","description":"Manipulates localization keys, their translations and metadata","x-order":3},{"name":"Big Meta","description":"Handles big meta (context) for translation keys. Tolgee automatically stores contextual data about keys to provide this information to Tolgee AI translator."},{"name":"Import Settings","description":"These endpoints enable you to store default settings for import. These settings are only used in the UI of Tolgee platform. It's also the default for stateful importing via `/v2/projects/{projectId}/import/*` API endpoints. The settings are stored per user and per project."},{"name":"Languages","description":"Languages","x-order":2},{"name":"Content Delivery","description":"Endpoints for Content Delivery management"},{"name":"Import","description":"These endpoints handle multi-step data import","x-order":5},{"name":"API keys","description":"Manage Project API keys"},{"name":"All localization keys","description":"All localization keys in the project"},{"name":"User","description":"Manipulates currently authenticated user"},{"name":"Invitations","description":"These endpoints manage inviting new users to projects or organizations"},{"name":"Project Transferring","description":"These endpoints manage transferring projects to other organizations"},{"name":"Tags","description":"Manipulates key tags","x-order":6},{"name":"Namespaces","description":"Manipulates key namespaces","x-order":7},{"name":"Server Administration","description":"**Only for self-hosted instances** \n\nManagees global Tolgee Platform instance data e.g., user accounts and organizations."},{"name":"Translations","description":"Operations related to translations in project","x-order":4},{"name":"Scope Info","description":"Returns info about permission scopes"},{"name":"Translation Comments","description":"Operations related to translation comments"},{"name":"Export","x-order":4},{"name":"Projects","x-order":1}],"paths":{"/v2/user":{"get":{"tags":["User"],"summary":"Get user info","description":"Returns information about currently authenticated user.","operationId":"getInfo_2","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateUserAccountModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":1},"put":{"tags":["User"],"summary":"Update user","description":"Updates current user's profile information.","operationId":"updateUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateRequestDto"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateUserAccountModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}],"x-order":2},"delete":{"tags":["User"],"summary":"Delete user","operationId":"delete","responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"SuperJwtToken":[]}],"x-order":6}},"/v2/user/password":{"put":{"tags":["User"],"summary":"Update password","description":"Updates current user's password. Invalidates all previous sessions upon success.","operationId":"updateUserPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdatePasswordRequestDto"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtAuthenticationResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}],"x-order":3}},"/v2/user/mfa/totp":{"put":{"tags":["User Multi-Factor Authentication"],"summary":"Enable TOTP","description":"Enables TOTP-based two-factor authentication. Invalidates all previous sessions upon success.","operationId":"enableMfa","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTotpEnableRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtAuthenticationResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}]},"delete":{"tags":["User Multi-Factor Authentication"],"summary":"Disable TOTP","description":"Disables TOTP-based two-factor authentication. Invalidates all previous sessions upon success.","operationId":"disableMfa","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTotpDisableRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtAuthenticationResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}]}},"/v2/user/mfa/recovery":{"put":{"tags":["User Multi-Factor Authentication"],"summary":"Regenerate Codes","description":"Regenerates multi-factor authentication recovery codes","operationId":"regenerateRecoveryCodes","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserMfaRecoveryRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}]}},"/v2/user/avatar":{"put":{"tags":["User"],"summary":"Upload avatar","operationId":"uploadAvatar","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["avatar"],"type":"object","properties":{"avatar":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateUserAccountModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}],"x-order":4},"delete":{"tags":["User"],"summary":"Delete avatar","operationId":"removeAvatar","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateUserAccountModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}],"x-order":5}},"/v2/user-preferences/set-preferred-organization/{organizationId}":{"put":{"tags":["User preferences"],"summary":"Set user preferred organization","operationId":"setPreferredOrganization","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}]}},"/v2/user-preferences/set-language/{languageTag}":{"put":{"tags":["User preferences"],"summary":"Set user's UI language","operationId":"setLanguage","parameters":[{"name":"languageTag","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}]}},"/v2/quick-start/steps/{step}/complete":{"put":{"tags":["Quick start"],"summary":"Complete guide step","description":"Marks guide step as completed","operationId":"completeGuideStep","parameters":[{"name":"step","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickStartModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}]}},"/v2/quick-start/set-open/{open}":{"put":{"tags":["Quick start"],"summary":"Set open state","description":"Sets open state of the quick start guide","operationId":"setOpenState","parameters":[{"name":"open","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickStartModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}]}},"/v2/quick-start/set-finished/{finished}":{"put":{"tags":["Quick start"],"summary":"Set finished state","description":"Sets finished state of the quick start guide","operationId":"setFinishedState","parameters":[{"name":"finished","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickStartModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}]}},"/v2/projects/{projectId}":{"get":{"tags":["Projects"],"summary":"Get one project","operationId":"get_3","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":2},"put":{"tags":["Projects"],"summary":"Update project settings","operationId":"editProject","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditProjectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"SuperJwtToken":[]}],"x-order":4},"delete":{"tags":["Projects"],"summary":"Delete project","operationId":"deleteProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"SuperJwtToken":[]}],"x-order":5}},"/v2/projects/{projectId}/webhook-configs/{id}":{"get":{"tags":["Webhooks configuration"],"summary":"Get one webhook configuration","operationId":"get_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookConfigModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-ee":true},"put":{"tags":["Webhooks configuration"],"summary":"Update webhook configuration","operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookConfigRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookConfigModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-ee":true},"delete":{"tags":["Webhooks configuration"],"summary":"Delete webhook configuration","operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-ee":true}},"/v2/projects/{projectId}/users/{userId}/set-permissions":{"put":{"tags":["Advanced permissions"],"summary":"Set user's project permission","description":"Set user's granular (scope-based) direct project permission","operationId":"setUsersPermissions","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"scopes","in":"query","description":"Granted scopes","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":["translations.view","translations.edit"]},{"name":"languages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"translateLanguages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"viewLanguages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"stateChangeLanguages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"SuperJwtToken":[]}],"x-ee":true}},"/v2/projects/{projectId}/users/{userId}/set-permissions/{permissionType}":{"put":{"tags":["Projects"],"summary":"Set direct permission to user","operationId":"setUsersPermissions_1","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"permissionType","in":"path","required":true,"schema":{"type":"string","enum":["NONE","VIEW","TRANSLATE","REVIEW","EDIT","MANAGE"]}},{"name":"languages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"translateLanguages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"viewLanguages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"stateChangeLanguages","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"SuperJwtToken":[]}]}},"/v2/projects/{projectId}/users/{userId}/set-by-organization":{"put":{"tags":["Projects"],"summary":"Remove direct project permission","description":"Removes user's direct project permission, explicitly set for the project. User will have now base permissions from organization or no permission if they're not organization member.","operationId":"setOrganizationBase","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"SuperJwtToken":[]}]}},"/v2/projects/{projectId}/users/{userId}/revoke-access":{"put":{"tags":["Projects"],"summary":"Revoke project access","operationId":"revokePermission","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"SuperJwtToken":[]}]}},"/v2/projects/{projectId}/per-language-auto-translation-settings":{"get":{"tags":["Auto-translation Settings"],"summary":"Get per-language auto-translation settings","operationId":"getPerLanguageAutoTranslationSettings","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelAutoTranslationConfigModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"put":{"tags":["Auto-translation Settings"],"summary":"Set per-language auto-translation settings","operationId":"setPerLanguageAutoTranslationSettings","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AutoTranslationSettingsDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelAutoTranslationConfigModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/namespaces/{id}":{"put":{"tags":["Namespaces"],"summary":"Update namespace","operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateNamespaceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NamespaceModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":4}},"/v2/projects/{projectId}/machine-translation-service-settings":{"get":{"tags":["Machine Translation Settings"],"summary":"Get machine translation settings","operationId":"getMachineTranslationSettings","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelLanguageConfigItemModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"put":{"tags":["Machine Translation Settings"],"summary":"Sets machine translation settings","operationId":"setMachineTranslationSettings","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetMachineTranslationSettingsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelLanguageConfigItemModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/keys/{id}/disabled-languages":{"get":{"tags":["Localization keys"],"summary":"Get disabled languages","description":"Returns languages, in which key is disabled","operationId":"getDisabledLanguages","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelLanguageModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"put":{"tags":["Localization keys"],"summary":"Set disabled languages","description":"Sets languages, in which key is disabled","operationId":"setDisabledLanguages","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetDisabledLanguagesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelLanguageModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/keys/{id}/complex-update":{"put":{"tags":["Localization keys"],"summary":"Edit key and related data","description":"Edits key name, translations, tags, screenshots, and other data","operationId":"complexEdit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplexEditKeyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyWithDataModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/keys/{id}":{"get":{"tags":["Localization keys"],"summary":"Get one key","operationId":"get_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":2},"put":{"tags":["Localization keys"],"summary":"Edit key name","operationId":"edit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditKeyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":4}},"/v2/projects/{projectId}/invite":{"put":{"tags":["Invitations"],"summary":"Generate user invitation link for project","operationId":"inviteUser","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectInviteUserDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectInvitationModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"SuperJwtToken":[]}]}},"/v2/projects/{projectId}/content-storages/{contentStorageId}":{"get":{"tags":["Content Storages"],"summary":"Get Content Storage","operationId":"get_7","parameters":[{"name":"contentStorageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentStorageModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-ee":true},"put":{"tags":["Content Storages"],"summary":"Update Content Storage","operationId":"update_3","parameters":[{"name":"contentStorageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentStorageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentStorageModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-ee":true},"delete":{"tags":["Content Storages"],"summary":"Delete Content Storage","operationId":"delete_6","parameters":[{"name":"contentStorageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-ee":true}},"/v2/projects/{projectId}/content-delivery-configs/{id}":{"get":{"tags":["Content Delivery"],"summary":"Get one Content Delivery Config","operationId":"get_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentDeliveryConfigModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"put":{"tags":["Content Delivery"],"summary":"Update Content Delivery Config","operationId":"update_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentDeliveryConfigRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentDeliveryConfigModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"post":{"tags":["Content Delivery"],"summary":"Publish to Content Delivery","description":"Immediately publishes content to the configured Content Delivery","operationId":"post","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"delete":{"tags":["Content Delivery"],"summary":"Delete Content Delivery Config","operationId":"delete_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/keys/{keyId}/tags":{"put":{"tags":["Tags"],"summary":"Tag key","description":"Tags a key with tag. If tag with provided name doesn't exist, it is created","operationId":"tagKey","parameters":[{"name":"keyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagKeyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/result/languages/{languageId}/translations/{translationId}/resolve/set-override":{"put":{"tags":["Import"],"summary":"Resolve conflict (override)","description":"Resolves translation conflict. The old translation will be overridden.","operationId":"resolveTranslationSetOverride","parameters":[{"name":"languageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"translationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/result/languages/{languageId}/translations/{translationId}/resolve/set-keep-existing":{"put":{"tags":["Import"],"summary":"Resolve conflict (keep existing)","description":"Resolves translation conflict. The old translation will be kept.","operationId":"resolveTranslationSetKeepExisting","parameters":[{"name":"languageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"translationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/result/languages/{languageId}/resolve-all/set-override":{"put":{"tags":["Import"],"summary":"Resolve all translation conflicts (override)","description":"Resolves all translation conflicts for provided language. The old translations will be overridden.","operationId":"resolveTranslationSetOverride_2","parameters":[{"name":"languageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/result/languages/{languageId}/resolve-all/set-keep-existing":{"put":{"tags":["Import"],"summary":"Resolve all translation conflicts (keep existing)","description":"Resolves all translation conflicts for provided language. The old translations will be kept.","operationId":"resolveTranslationSetKeepExisting_2","parameters":[{"name":"languageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/result/languages/{importLanguageId}/select-existing/{existingLanguageId}":{"put":{"tags":["Import"],"summary":"Pair existing language","description":"Sets existing language to pair with language to import. Data will be imported to selected existing language when applied.","operationId":"selectExistingLanguage","parameters":[{"name":"importLanguageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"existingLanguageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/result/languages/{importLanguageId}/reset-existing":{"put":{"tags":["Import"],"summary":"Reset existing language pairing","description":"Resets existing language paired with language to import.","operationId":"resetExistingLanguage","parameters":[{"name":"importLanguageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/result/files/{fileId}/select-namespace":{"put":{"tags":["Import"],"summary":"Select namespace","description":"Sets namespace for file to import.","operationId":"selectNamespace","parameters":[{"name":"fileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetFileNamespaceRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/import/apply":{"put":{"tags":["Import"],"summary":"Apply import","description":"Imports the data prepared in previous step","operationId":"applyImport","parameters":[{"name":"forceMode","in":"query","description":"Whether override or keep all translations with unresolved conflicts","required":false,"schema":{"type":"string","enum":["OVERRIDE","KEEP","NO_FORCE"],"default":"NO_FORCE"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":2}},"/v2/projects/{projectId}/import-settings":{"get":{"tags":["Import Settings"],"summary":"Get Import Settings","description":"Returns import settings for the authenticated user and the project.","operationId":"get_9","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportSettingsModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"put":{"tags":["Import Settings"],"summary":"Set Import Settings","description":"Stores import settings for the authenticated user and the project.","operationId":"store","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportSettingsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportSettingsModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/batch-jobs/{id}/cancel":{"put":{"tags":["Batch Operations"],"summary":"Stop batch operation","description":"Stops batch opperation if possible.","operationId":"cancel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/translations/{translationId}/set-state/{state}":{"put":{"tags":["Translations"],"summary":"Set translation state","operationId":"setTranslationState","parameters":[{"name":"translationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"state","in":"path","required":true,"schema":{"type":"string","enum":["TRANSLATED","REVIEWED"]}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TranslationModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/translations/{translationId}/comments/{commentId}/set-state/{state}":{"put":{"tags":["Translation Comments"],"summary":"Set state of translation comment","operationId":"setState","parameters":[{"name":"translationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"state","in":"path","required":true,"schema":{"type":"string","enum":["RESOLUTION_NOT_NEEDED","NEEDS_RESOLUTION","RESOLVED"]}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TranslationCommentModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/translations/{translationId}/comments/{commentId}":{"get":{"tags":["Translation Comments"],"summary":"Get one translation comment","operationId":"get_13","parameters":[{"name":"translationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TranslationCommentModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"put":{"tags":["Translation Comments"],"summary":"Update translation comment","operationId":"update_5","parameters":[{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"translationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TranslationCommentDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TranslationCommentModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"delete":{"tags":["Translation Comments"],"summary":"Delete translation comment","operationId":"delete_8","parameters":[{"name":"translationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/translations/{translationId}/set-outdated-flag/{state}":{"put":{"tags":["Translations"],"summary":"Set outdated value","description":"Set's \"outdated\" flag indicating the base translation was changed without updating current translation.","operationId":"setOutdated","parameters":[{"name":"translationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"state","in":"path","required":true,"schema":{"type":"boolean"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TranslationModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/translations/{translationId}/dismiss-auto-translated-state":{"put":{"tags":["Translations"],"summary":"Dismiss auto-translated","description":"Removes \"auto translated\" indication","operationId":"dismissAutoTranslatedState","parameters":[{"name":"translationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TranslationModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/translations":{"get":{"tags":["Translations"],"summary":"Get translations in project","operationId":"getTranslations","parameters":[{"name":"cursor","in":"query","description":"Cursor to get next data","required":false,"schema":{"type":"string"}},{"name":"filterState","in":"query","description":"Translation state in the format: languageTag,state. You can use this parameter multiple times.\n\nWhen used with multiple states for same language it is applied with logical OR. \n \nWhen used with multiple languages, it is applied with logical AND.\n    ","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"languages","in":"query","description":"Languages to be contained in response.\n                \nTo add multiple languages, repeat this param (eg. ?languages=en&languages=de)","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"example":"en"},{"name":"search","in":"query","description":"String to search in key name or translation text","required":false,"schema":{"type":"string"}},{"name":"filterKeyName","in":"query","description":"Selects key with provided names. Use this param multiple times to fetch more keys.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filterKeyId","in":"query","description":"Selects key with provided ID. Use this param multiple times to fetch more keys.","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"filterUntranslatedAny","in":"query","description":"Selects only keys, where translation is missing in any language","required":false,"schema":{"type":"boolean"}},{"name":"filterTranslatedAny","in":"query","description":"Selects only keys, where translation is provided in any language","required":false,"schema":{"type":"boolean"}},{"name":"filterUntranslatedInLang","in":"query","description":"Selects only keys, where translation is missing in specified language","required":false,"schema":{"type":"string"},"example":"en-US"},{"name":"filterTranslatedInLang","in":"query","description":"Selects only keys, where translation is provided in specified language","required":false,"schema":{"type":"string"},"example":"en-US"},{"name":"filterHasScreenshot","in":"query","description":"Selects only keys with screenshots","required":false,"schema":{"type":"boolean"}},{"name":"filterHasNoScreenshot","in":"query","description":"Selects only keys without screenshots","required":false,"schema":{"type":"boolean"}},{"name":"filterNamespace","in":"query","description":"Filter namespaces. \n\nTo filter default namespace, set to empty string.\n  ","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filterTag","in":"query","description":"Selects only keys with provided tag","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filterOutdatedLanguage","in":"query","description":"Selects only keys, where translation in provided langs is in outdated state","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"en-US"},{"name":"filterNotOutdatedLanguage","in":"query","description":"Selects only keys, where translation in provided langs is not in outdated state","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"en-US"},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeysWithTranslationsPageModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":5},"put":{"tags":["Translations"],"summary":"Get for key","description":"Sets translations for existing key","operationId":"setTranslations","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetTranslationsWithKeyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetTranslationsResponseModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":2},"post":{"tags":["Translations"],"summary":"Create key or update translations","description":"Sets translations for existing key or creates new key and sets the translations to it.","operationId":"createOrUpdateTranslations","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetTranslationsWithKeyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetTranslationsResponseModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":3}},"/v2/projects/{projectId}/transfer-to-organization/{organizationId}":{"put":{"tags":["Project Transferring"],"summary":"Transfer project","description":"Transfers project's ownership to organization","operationId":"transferProjectToOrganization","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"SuperJwtToken":[]}]}},"/v2/projects/{projectId}/leave":{"put":{"tags":["Projects"],"summary":"Leave project","operationId":"leaveProject","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"SuperJwtToken":[]}]}},"/v2/projects/{projectId}/languages/{languageId}":{"get":{"tags":["Languages"],"summary":"Get one language","operationId":"get_15","parameters":[{"name":"languageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LanguageModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":2},"put":{"tags":["Languages"],"summary":"Update language","operationId":"editLanguage","parameters":[{"name":"languageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LanguageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LanguageModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":4},"delete":{"tags":["Languages"],"summary":"Delete specific language","operationId":"deleteLanguage_2","parameters":[{"name":"languageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}],"x-order":5}},"/v2/projects/{projectId}/languages/{languageId}/ai-prompt-customization":{"put":{"tags":["AI Customization"],"summary":"Sets language level prompt customization","operationId":"setLanguagePromptCustomization","parameters":[{"name":"languageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetLanguagePromptCustomizationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LanguageAiPromptCustomizationModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}],"x-ee":true}},"/v2/projects/{projectId}/keys/{keyId}/auto-translate":{"put":{"tags":["Auto Translation"],"summary":"Auto translates keys","description":"Uses enabled auto-translation methods.\nYou need to set at least one of useMachineTranslation or useTranslationMemory to true.\n\nThis will replace the the existing translation with the result obtained from specified source!\n    ","operationId":"autoTranslate","parameters":[{"name":"keyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"languages","in":"query","description":"Tags of languages to auto-translate. \nWhen no languages provided, it translates only untranslated languages.","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"useMachineTranslation","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"useTranslationMemory","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/avatar":{"put":{"tags":["Projects"],"summary":"Upload project avatar","operationId":"uploadAvatar_1","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["avatar"],"type":"object","properties":{"avatar":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]},"delete":{"tags":["Projects"],"summary":"Delete project avatar","operationId":"removeAvatar_1","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"ApiKeyInHeader":[]},{"ApiKeyInQueryParam":[]},{"JwtToken":[]}]}},"/v2/projects/{projectId}/ai-prompt-customization":{"get":{"tags":["AI Customization"],"summary":"Returns project level prompt customization","operationId":"getPromptProjectCustomization","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectAiPromptCustomizationModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}],"x-ee":true},"put":{"tags":["AI Customization"],"summary":"Sets project level prompt customization","operationId":"setPromptProjectCustomization","parameters":[{"name":"projectId","in":"path","required":true,"allowEmptyValue":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetProjectPromptCustomizationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectAiPromptCustomizationModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}],"x-ee":true}},"/v2/pats/{id}":{"get":{"tags":["Personal Access Tokens"],"summary":"Get one PAK","operationId":"get_17","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}]},"put":{"tags":["Personal Access Tokens"],"summary":"Update PAK","description":"Updates Personal Access Token","operationId":"update_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePatDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"SuperJwtToken":[]}]},"delete":{"tags":["Personal Access Tokens"],"summary":"Delete PAK","description":"Deletes Personal Access Token","operationId":"delete_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"SuperJwtToken":[]}]}},"/v2/pats/{id}/regenerate":{"put":{"tags":["Personal Access Tokens"],"summary":"Regenerate PAK","description":"Regenerates Personal Access Token. It generates new token value and updates its time of expiration.","operationId":"regenerate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegeneratePatDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevealedPatModel"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"SuperJwtToken":[]}]}},"/v2/organizations/{organizationId}/users/{userId}/set-role":{"put":{"tags":["Organizations"],"summary":"Set user role","description":"Sets user role in organization. Owner or Member.","operationId":"setUserRole","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetOrganizationRoleDto"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"SuperJwtToken":[]}]}},"/v2/organizations/{organizationId}/set-base-permissions":{"put":{"tags":["Advanced permissions"],"summary":"Set organization base permission","description":"Set default granular (scope-based) permissions for organization users, who don't have direct project permissions set.","operationId":"setBasePermissions","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"scopes","in":"query","description":"Granted scopes to all projects for all organization users without direct project permissions set.","required":true,"schema":{"type":"array","items":{"type":"string"}},"example":["translations.view","translations.edit"]}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","example":"{code=you_did_something_wrong, params=[something, wrong]}"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","example":"{code=unauthenticated}"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string","example":"{code=operation_not_permitted, params=[translations.edit]}"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string","example":"{code=resource_not_found, params=null}"}}}}},"security":[{"JwtToken":[]}],"x-ee":true}},"/v2/organizations/{organizationId}/set-base-permissions/{permissionType}":{"put":{"tags":["Organizations"],"summary":"Set organization base permission","description":"Sets default (level-based) permission for organization","operationId":"setBasePermissions_1","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}
[...]
