.integration__preview-feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 100px;
  gap: 20px
}


@media screen and (min-width: 950px) {
  .integration__preview-feature:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }

  .integration__preview-feature-video {
    max-width: 500px;
  }
}

.integration__preview-feature:nth-child(2n) .integration__preview-feature-video {
  margin-right: 0;
  flex-grow: 1;
}

.integration__preview-feature-video--bigger {
  max-width: 590px !important;
}

.integration__preview-feature-text {
  max-width: 0;
  min-width: min(400px, 100%);
}


.browser {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  color: white;
  box-shadow: 3px 3px 30px rgba(84, 84, 84, 0.4);
}

.browser::before {
  content: "\2022 \2022 \2022";
  display: flex;
  align-items: center;
  padding: 0 10px 3px;
  font-size: 60px;
  line-height: 10px;
  height: 40px;
  background: #dadada;
  border-radius: 8px 8px 0 0;
}

.browser video {
  width: 100%;
  border-radius: 0 0 8px 8px;
}
