.installation-guide__step {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
}

.installation-guide__headline {
  margin-top: 50px;
  font-size: 36px;
  color: var(--ifm-color-primary);
}
