.integration__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    min-height: 234px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.integration__headline-background-wrapper {
    background: radial-gradient(#ffffff 24%, #e8e8e8 80%, #dedede 100%);
}

.integration__headline-left {
    min-width: 400px;
}

.integration__headline-right {
    padding: 20px 0;
}

.integration__badges {
    display: flex;
    gap: 10px
}

.integration__badges img {
    border-radius: 4px;
}

.integration__headline h1 {
    padding: 0;
    margin: 0;
    font-size: 36px;
    color: var(--ifm-color-primary);
}

.integration__headline-image {
    min-width: 400px;
    max-width: 400px;
    text-align: right;
}

.integration__headline-image > div {
    display: flex;
    justify-content: space-between;
}


.integration__headline-image > div > div {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.integration__headline-image > div > div > img {
    width: 100%;
}
