.integration__headline-description {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.integration__headline-head-code {
  width: 400px;
}

.integration__headline-head-image {
  width: 450px;
}

.integration__header p {
  max-width: 800px;
  font-size: 20px;
}

@media screen and (min-width: 1040px) {
  .integration__headline-description-text {
    max-width: 600px;
  }

  .integration__header p {
    max-width: 600px;
  }

  .integration__headline-description {
    justify-content: space-between;
  }

  .integration__headline-head-code {
    padding: 40px 0;
  }
}
