.opensource__title {
  text-align: center;
  padding-top: 103px;
  margin-bottom: 83px;
}

.opensource__container {
  max-width: 800px !important;
  margin-bottom: 100px;
}

.opensource__container p {
  font-size: 20px;
  text-align: justify;
}
