.cool-button {
    display: inline-flex;
    gap: 10px;
    min-height: 50px;
    padding: 10px 15px;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 3px 3px 10px 0px var(--ifm-color-gray-300);
    transition: all 200ms ease-in-out;
}

.cool-button:hover {
    text-decoration: none;
    color: var(--ifm-color-primary-darker);
    box-shadow: 4px 4px 10px 2px var(--ifm-color-gray-500);
}


