@font-face {
    font-family: Rubik;
    src: url("./Rubik-Regular.woff2");
}

body {
    font-weight: normal;
}

@font-face {
    font-family: Righteous;
    src: url('./righteous-latin.woff2') format('woff2');
}
