@keyframes intro__element--fly-in {
  from {
    opacity: 0;
    transform: translate3d(0px, 0px, 0px) scale(1.7);
  }
  90% {
    transform: translate3d(0px, 0px, 0px) scale(0.99);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale(1);
  }
}

@keyframes intro__element--fly-out {
  from {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale(1);
  }
  to {
    opacity: 0;
    transform: translate3d(0px, 0px, 0px) scale(1.4);
  }
}

.intro__element {
  opacity: 0;
}

.intro__element--fly-in {
  opacity: 1;
  animation: intro__element--fly-in 0.3s ease-in-out;
}

.intro__element--fly-out {
  animation: intro__element--fly-out 0.15s ease-in-out;
}

.intro__element--final {
  opacity: 1;
  animation: none;
}
