[data-custom-class='body'],
[data-custom-class='body'] * {
  background: transparent !important;
}

[data-custom-class='title'],
[data-custom-class='title'] * {
  font-family: Arial !important;
  font-size: 26px !important;
  color: var(--ifm-hero-text-color) !important;
  margin-top: 40px;
}

[data-custom-class='subtitle'],
[data-custom-class='subtitle'] * {
  font-family: Arial !important;
  color: var(--ifm-hero-text-color) !important;
  font-size: 14px !important;
}

[data-custom-class='heading_1'],
[data-custom-class='heading_1'] * {
  font-family: Arial !important;
  font-size: 19px !important;
  color: var(--ifm-hero-text-color) !important;
  font-weight: bold;
  margin-top: 40px;
}

[data-custom-class='heading_2'],
[data-custom-class='heading_2'] * {
  font-family: Arial !important;
  font-size: 17px !important;
  color: var(--ifm-hero-text-color) !important;
  margin-top: 10px;
}

[data-custom-class='heading_3'] {
  font-family: Arial !important;
  font-size: 15px !important;
  color: var(--ifm-hero-text-color) !important;
  margin-left: 30px;
}

[data-custom-class='body_text'],
[data-custom-class='body_text'] * {
  color: var(--ifm-color-emphasis-800) !important;
  font-size: 14px !important;
  font-family: Arial !important;
}

[data-custom-class='link'],
[data-custom-class='link'] * {
  color: var(--ifm-color-primary) !important;
  font-family: Arial !important;
  word-break: break-word !important;
}
