name: Update cli schema

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'

jobs:
  update-file:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "22.x"

      - run: npm install

      - name: Run your script to update the file
        run: npm run cli-schema

      - name: Set git globals
        run: |
          git config --local user.email "machine@tolgee.io"
          git config --local user.name "Tolgee Machine"

      - name: Commit and push changes
        run: |
          git add .
          git diff --quiet && git diff --staged --quiet || git commit -m "chore: Update CLI schema"

      - name: Create or update pull request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'chore: Update CLI schema'
          title: 'Cli schema update'
          body: 'This is an automated daily update.'
          branch: cli-schema-update
