.career__title {
  text-align: center;
  padding-top: 103px;
  margin-bottom: 83px;
}

.career__container {
  max-width: 800px;
  margin-bottom: 100px;
  padding: 0px 40px;
}

.career__container p {
  font-size: 20px;
  text-align: justify;
}

.career__container h2 {
  text-align: center;
  margin: 40px 0px 10px 0px;
}

.career__container h3 {
  margin: 40px 0px 10px 0px;
}
